
/* css cho header */
.header{
    height: 120px;
    display: flex;
    background-color: var(--bgr-c);
}
.header__ctn{
    display: flex;
}
.header__logo{

}
.header__logo-img{
    height: 120px;
}
.header__nav{
    flex: 1;
    align-content: center;
}
.header__nav-lists{
    display: flex;
    list-style: none;
    justify-content: end;
}
.header__nav-lists-item{
    padding: 0 12px;
    position: relative;
}
/* thanh bên dưới list nav item */
.header__nav-lists-item-link::after{
    position: absolute;
    content: "";
    top: 100%;
    width: 0%;
    height: 2px;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--color-shakespeare-600);
    transition: all 0.3s ease-in-out;
}
.header__nav-lists-item-link:hover::after{
    width: 80%;
}
.header__nav-lists-item-link:hover{
    color: var(--color-shakespeare-600);
}
.header__nav-lists-item-link{
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2;
    font-weight: 600;
    color: var(--header-c);
}

/* css cho banner */
.banner{
    height: 320px;
    width: 100%;
    background: linear-gradient(90deg, #336CA5, #336CA5,#88a0b8 ,#336CA5);
}
.mybanner{
    display: flex;
    height: 100%;
}
.banner__intro{
    width: 50%;
    color: var(--text-c);
    align-content: center;
}
.banner__intro-hiThere{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}
.banner__intro-name{
    font-size: 3.4rem;
    line-height: 1.5;
    margin-bottom: 14px;
}
.banner__intro-job{
    font-size: 2.6rem;
    line-height: 1.5;
    margin-bottom: 8px;
    font-weight: 600;
}
.banner__intro-infor{
    font-size: 1.6rem;
    line-height: 1.5;
}
.banner__avt{
    width: 50%;
    align-content: center;
    justify-items: center;
}
.banner__avt-myavt{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #EBEFF2;
}
.banner__avt-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}