
/* css cho header */
.header{
    height: 120px;
    display: flex;
    background-color: var(--bgr-c);
}
.header__ctn{
    display: flex;
}
.header__logo{

}
.header__logo-img{
    height: 120px;
}
.header__nav{
    flex: 1;
    align-content: center;
}
.header__nav-lists{
    display: flex;
    list-style: none;
    justify-content: end;
}
.header__nav-lists-item{
    padding: 0 12px;
    position: relative;
}
/* thanh bên dưới list nav item */
.header__nav-lists-item-link::after{
    position: absolute;
    content: "";
    top: 100%;
    width: 0%;
    height: 2px;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--color-shakespeare-600);
    transition: all 0.3s ease-in-out;
}
.header__nav-lists-item-link:hover::after{
    width: 80%;
}
.header__nav-lists-item-link:hover{
    color: var(--color-shakespeare-600);
}
.header__nav-lists-item-link{
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2;
    font-weight: 600;
    color: var(--header-c);
}

/* css cho banner */
.banner{
    height: 320px;
    width: 100%;
    background: linear-gradient(90deg, #336CA5, #336CA5,#88a0b8 ,#336CA5);
}
.mybanner{
    display: flex;
    height: 100%;
}
.banner__intro{
    width: 50%;
    color: var(--text-c);
    align-content: center;
}
.banner__intro-hiThere{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}
.banner__intro-name{
    font-size: 3.4rem;
    line-height: 1.5;
    margin-bottom: 14px;
}
.banner__intro-job{
    font-size: 2.6rem;
    line-height: 1.5;
    margin-bottom: 8px;
    font-weight: 600;
}
.banner__intro-infor{
    font-size: 1.6rem;
    line-height: 1.5;
}
.banner__avt{
    width: 50%;
    align-content: center;
    justify-items: center;
}
.banner__avt-myavt{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #EBEFF2;
}
.banner__avt-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}


/* CSS cho left content */
.my-infor__leftContent {
    margin-top: 20px;
}
.my-infor__ctn{
    border-radius: 8px;
    border: 2px solid var(--color-shakespeare-400);
}
.my-infor__hobbies,
.my-infor__skills,
.my-infor__Language,
.my-infor__Contact  {
    background-color: var(--color-shakespeare-300);
}

.my-infor__hobbies-title,
.my-infor__skills-title, 
.my-infor__Language-h3,
.my-infor__Contact-h3{
    background-color: var(--color-shakespeare-800);
    color: var(--text-c);
    font-size: 2.8rem;
    line-height: 1.5;
    text-align: center;
    border-radius: 4px;
}

.my-infor__hobbies-deitals,
.my-infor__skills-deitals,
.my-infor__Language-lists,
.my-infor__Contact-lists{
    font-size: 1.4rem;
    padding: 4px 8px;
    line-height: 1.5;
}
.my-infor__hobbies-deitals ul,
.my-infor__skills-deitals-SoftSK-lists, 
.my-infor__Language-lists-item, 
.my-infor__Contact-lists{
    margin-left: 16px;
}
.my-infor__skills {}

.my-infor__skills-title {}

.my-infor__skills-deitals {

}
.my-infor__skills-deitals-hardSK {}

.my-infor__skills-deitals-hardSK-h4,.my-infor__skills-deitals-SoftSK-h4 {
    font-size: 1.8rem;
    font-weight: 600;
}

.my-infor__skills-deitals-hardSK-lists {
    display: flex;
    list-style: none;
}

.my-infor__skills-deitals-hardSK-lists-item {
    width: 56px;
    height: 70px;
    font-size: 4.2rem;
    text-align: center;
    align-content: center;
    background-color: var(--bgr-c);
    margin: 0 3px;
}

.my-infor__skills-deitals-SoftSK {}

.my-infor__skills-deitals-SoftSK-h4 {
}

.my-infor__skills-deitals-SoftSK-lists {
}

.my-infor__skills-deitals-SoftSK-lists-item {}

.my-infor__Language{

}
.my-infor__Language-h3{

}
.my-infor__Language-lists{
}
.my-infor__Language-lists-item{
    /* font-size: 1.4rem; */
}
.my-infor__Contact{

}
.my-infor__Contact-h4{

}
.my-infor__Contact-lists{
    list-style: none;

}
.my-infor__Contact-lists-item{

}
.my-infor__Contact-lists-item a{
    color: var(--text-c-black);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.my-infor__Contact-lists-item span{
    font-size: 3.8rem;
    min-width: 60px;
    display: block;
    text-align: center;
}